<div class="container" *ngIf="doneLoading">

    <div class="background-image">
        <img src="{{channel.background_image}}" alt="" width="1250px">
    </div>

    <div class="profile">
        <div class="profile-top">
            <div class="profile-left">
                <img src="{{channel.icon}}" alt="" width="100px">
            </div>

            <div class="profile-center">
                <div class="name">
                    {{channel.name}}
                </div>

                <div class="subs-count">
                    {{subsCountOutput}}
                </div>

            </div>

            <div class="profile-right">
                <div class="subscribe-container" *ngIf="showSubscribeButton()">
                    <a>
                        <div class="subscribe-button">
                            SUBSCRIBE
                        </div>
                    </a>

                    <!-- <div class="bell-button">
                        <i class="fa fa-bell" aria-hidden="true"></i>
                    </div>

                    <div class="bell-button2">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                    </div> -->

                </div>

                <div class="edit-channel-container" *ngIf="!showSubscribeButton()">
                    <a>
                        <div class="edit-channel-button" routerLink="edit">
                            EDIT CHANNEL
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="profile-bottom">
            <ul>
                <li>
                    <a routerLink="home">
                        HOME
                    </a>
                </li>
                <li>
                    <a routerLink="videos">
                        VIDEOS
                    </a>
                </li>
                <li>
                    <a routerLink="playlist">
                        PLAYLISTS
                    </a>
                </li>
                <li>
                    <a routerLink="community">
                        COMMUNITY
                    </a>
                </li>
                <li>
                    <a routerLink="about">
                        ABOUT
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>