.container{
    margin-top: -4vh;
    margin-left: -0.75vw;
    margin-bottom: 4vh;
    width: 100%;

    .background-image{
        img{
            max-height: 200px;
            object-fit: cover;
        }
    }

    .profile{
        padding: 0vh 5vw;
        display: flex;
        flex-direction: column;
        position: relative;

        .profile-top{
            display: flex;
            flex-direction: row;

            .profile-left{
                border-radius: 100%;

                img{
                    border-radius: 100%;
                    object-fit: cover;
                }
            }

            .profile-center{
                display: flex;
                flex-direction: column;
                padding: 3vh 0;
                margin-left: 1vw;

                .name{
                    font-size: 20px;
                }

                .subs-count{
                    color: gray;
                    font-size: 15px;
                }
            }

            .profile-right{
                position: absolute;
                right: 5vw;
                padding-top: 3vh;

                .subscribe-container{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .subscribe-button{
                        color: white;
                        background-color: rgb(226, 5, 5);
                        padding: 8px 16px;
                        font-size: 14px;
                        font-weight: bolder;
                    }

                    .subscribe-button2{
                        color: gray;
                        background-color: rgb(236, 225, 225);
                        padding: 8px 16px;
                        font-size: 14px;
                        font-weight: bolder;
                        margin-right: 1vw;
                        cursor: pointer;
                    }

                    .bell-button{
                        cursor: pointer;
                    }

                    i{
                        color: gray;
                        font-size: 24px;
                    }
                }

                .edit-channel-container{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .edit-channel-button{
                        color: white;
                        background-color: blueviolet;
                        padding: 8px 16px;
                        font-size: 14px;
                        font-weight: bolder;
                    }

                    .edit-videos-button{
                        margin-left: 2vw;
                        color: white;
                        background-color: blueviolet;
                        padding: 8px 16px;
                        font-size: 14px;
                        font-weight: bolder;
                    }

                    i{
                        color: gray;
                        font-size: 24px;
                    }
                }
            }

        }

        .profile-bottom{
            padding-top: 1vh;
            padding-bottom: 2vh;
            border-bottom: 2px lightgray solid;

            ul{
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                li{
                    font-size: 16px;
                    color: rgb(100, 100, 100);
                    text-decoration: none;

                    a{
                        text-decoration: none;
                        color: rgb(100, 100, 100)
                    }
                }
                
                li:hover{

                    a{
                        color: rgb(44, 44, 44)
                    }
                }
            }
        }
    }

    .content{
        width: 100%;
    }
}