$width: 55vw;

.container{
    display: flex;
    .video-section{
        width: $width;
        max-width: $width;

        .video-player{
            width: $width;

        }

        .video-title{
            font-size: 20px;
            margin-top: 2vh;
        }

        .video-additional{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 1vh;
            border-bottom: 1px lightgray solid;

            .view-and-date{
                font-size: 12px;
            }

            .video-button{
                display: flex;
                flex-direction: row;

                .like-and-dislike{
                    
                    .the-buttons{
                        display: flex;
                        flex-direction: row;
                        position: relative;

                        a{
                            margin: 0vh 1vw;
        
                            div{
                                font-size: 14px;
                                color: gray;
            
                                i{
                                    font-size: 20px;
                                }
                            }
                        }  

                        #numbers{
                            background-color: gray;
                            left: 25%;
                            top: -5%;
                            position: absolute;
                            color: white;
                            padding: 8px 16px;
                            opacity: 0;
                            transition-duration: 0.3s;
                        }

                        #numbers:hover{
                            opacity: 1;
                            transition-duration: 0.3s;
                        }

                    }

                    .like-dislike-ratio{
                        width: 100%;
                        height: 3px;
                        border-radius: 0px;
                        -webkit-appearance: none;
                    }

                    .like-dislike-ratio::-webkit-progress-bar{
                        background: lightgray;
                        -webkit-appearance: none;
                    }      
                }

                a{
                    margin: 0vh 1vw;

                    div{
                        font-size: 14px;
                        color: gray;
    
                        i{
                            font-size: 20px;
                        }
                    }
                }             
            }
        }

        .video-description{
            .top{
                margin-top: 1vh;
                padding-left: 1vw;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .channel-info{
                    display: flex;
                    align-items: center;

                    .channel-left{
                        a{
                            img{
                                width: 75px;
                                border-radius: 50%;
                            }
                        }
                    }
                    .channel-right{
                        margin-left: 0.5vw;
                        a{
                            text-decoration: none;
                            color: black;
                            font-weight: bolder;
                            
                            .channel-name{
                                font-size: 15px;
                                font-weight: bolder;
                                color: black;
                            }
                        }
                        .subs-count{
                            font-size: 13px;
                            color: gray;
                            margin-left: 0.1vw;
                        }
                    }
                }

                .subscribe-container{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .subscribe-button{
                        color: white;
                        background-color: rgb(226, 5, 5);
                        padding: 8px 16px;
                        font-size: 14px;
                        font-weight: bolder;
                    }

                    i{
                        color: gray;
                        font-size: 24px;
                    }
                }
            }

            .center{
                font-size: 14px;
                padding-left: 4vw;
                padding-right: 8vw;
                margin-top: 2vh;
                padding-bottom: 2vh;
                border-bottom: 1px lightgray solid;
            }

            .bottom{
                align-items: center;
                margin-top: 2vh;
                padding-left: 3vw;
                padding-bottom: 3vh;
                border-bottom: 1px lightgray solid;
            }
        }

        .video-comment{
            padding-top: 3vh;
            padding-left: 2vw;
            margin-bottom: 10vh;

            .comment-statistic{
                display: flex;
                flex-direction: row;

                .comment-count{
                    font-size: 18px;
                }

                a{
                    .sort-options{
                        color: rgb(65, 62, 62);
                        margin-left: 2vw;
    
                        i{
                            font-size: 20px;
                            margin-right: 0.25vw;
                        }
                    }
                }
            }

            .input-comment{
                align-items: center;
                margin-top: 4vh;
                display: flex;
                flex-direction: row;
                margin-bottom: 3vh;

                .input-text{
                    margin-left: 1vw;
                    margin-right: 2vw;

                    input{
                        padding: 8px 16px;
                        font-size: 16px;
                        width: 40vw;
                        outline: 0;
                        border: none;
                        border-bottom: 2px lightgray solid;
                        transition-duration: 0.3s;
                    }

                    input:focus{
                        border-color: black;
                        transition-duration: 0.3s;
                    }
                }

                .signin-alert{
                    margin-left: 1vw;
                    color: blueviolet;
                    border: 1px solid gray;
                    text-align: center;
                    width: 100%;
                    padding: 1vh 0;
                    border-radius: 5px;
                    border-color: blueviolet;
                }

                .comment-button{
                    color: white;
                    background-color: pink;
                    padding: 8px 16px;
                    font-size: 14px;
                    font-weight: bolder;
                    cursor: not-allowed;
                }
                
            }

            .all-comment{
                display: flex;
                flex-direction: column;
            }
        }
    }

    .related-video{
        flex: 3;
    }
}