<div class="container">
    <div class="video-section">
        <!-- <video controls>
            <source src="https://firebasestorage.googleapis.com/v0/b/yourjube-b27a9.appspot.com/o/video.mp4?alt=media&token=a7584627-adb2-4037-8d75-368f70272b2d" type="video/mp4">
        </video> -->

        <video
        id="my-video"
        class="video-js"
        controls
        preload="auto"
        width="640"
        height="264"
        data-setup="{}"
        >
        <source src="https://firebasestorage.googleapis.com/v0/b/yourjube-b27a9.appspot.com/o/video.mp4?alt=media&token=a7584627-adb2-4037-8d75-368f70272b2d" type="video/mp4" />

        </video>
    </div>

    <div class="related-video">

    </div>
</div>