<div class="container">
    <div class="category-list">
        <ul>
            <li routerLink="music">
                <a>
                    <span class="icon"><i class="fa fa-music" aria-hidden="true"></i></span>
                    <span class="name">Music</span>
                </a>   
            </li>
            <li routerLink="sport">                
                <a>
                    <span class="icon"><i class="fa fa-futbol-o" aria-hidden="true"></i></span>
                    <span class="name">Sport</span>
                </a>
            </li>
            <li routerLink="gaming">
                <a>
                    <span class="icon"><i class="fa fa-gamepad" aria-hidden="true"></i></span>
                    <span class="name">Gaming</span>
                </a>
            </li>
            <li routerLink="entertainment">
                <a>
                    <span class="icon"><i class="fa fa-smile-o" aria-hidden="true"></i></span>
                    <span class="name">Entertainment</span>
                </a>
            </li>
            <li routerLink="news">
                <a>
                    <span class="icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
                    <span class="name">News</span>
                </a>
            </li>
            <li routerLink="travel">
                <a>
                    <span class="icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
                    <span class="name">Travel</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="video-list-container">
        <router-outlet></router-outlet>
    </div>
</div>