
.container{
    margin-left: 1vw;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    max-width: 25vw;

    .right{
        margin-left: 0.5vw;
        margin-top: 0.5vh;
        width: 100%;

        .top{
            font-weight: bolder;
            font-size: 16px;
            color: black;
            position: relative;
            width: 100%;

            .settings-button{
                position: absolute;
                top: 0px;
                right: 0px;
                font-weight: normal;
    
                .settings-button-icon{
                    top: 0;
                    opacity: 0;
                    font-size: 20px;
                    color: gray;
                    transition-duration: 0.3s;
                }
    
                .dropdown-content {
                    display: none;
                    position: absolute;
                    left: -10vw;
                    background-color: white;
                    width: 12vw;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
        
                    a {
                        color: gray;
                        padding: 12px 8px;
                        text-decoration: none;
                        display: block;
                        border-bottom: 1px lightgray solid;
                        text-align: left;
                        font-size: 14px;
                        padding-left: 1vw;
    
                        i{
                            margin-right: 1vw;
                        }
                    }
                }
    
                .dropdown-content a:hover{
                    background-color: rgb(240, 238, 238);
                }
            }
        }

        .center{
            margin-top: 1vh;
            color: gray;
            font-size: 12px;
        }

        .bottom{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 1vh;
            color: gray;
            
            .view{
                font-size: 12px;
            }

            .date{
                font-size: 12px;
            }
        }
    }
}

.container:hover{
    .right{
        .top{
            .settings-button{
                .settings-button-icon{
                    opacity: 1;
                    transition-duration: 0.3s;
                }
            }
        }
    }
}
