<div class="header-container">

  <div class="image-container">
      <a href="#" class="menuLineWrapper">
          <img src="../assets/menuLine.png" alt="" class="menuLineImage">
      </a>
      <a href="" class="logoWrapper">
          <img src="../assets/logo.jpg" alt="" class="logoImage">
      </a>
  </div>
  

  <form id="search-form">
      <div class="searchbox-container">
          <input type="text" name="" id="searchbox" placeholder="Search">
          <button type="submit" id="search-submit"><i class="fa fa-search"></i></button>
      </div>
  </form>

  <div class="usercontrol-container">
    <a href=""><i class="fa fa-cog" aria-hidden="true"></i></a>

    <div class="signin-button-container">
      
      <a href="">
        <i class="fa fa-user" aria-hidden="true"></i>
        <div>
          SIGN IN
        </div>
      </a>
    </div>
  </div>

  
</div>