<div class="container">
  <div class="header-container">

    <div class="image-container">
        <a class="menuLineWrapper" (click)="sideBarCollapse()">
            <img src="../assets/menuLine.png" alt="" class="menuLineImage">
        </a>
        <a href="" class="logoWrapper">
            <img src="../assets/logo.jpg" alt="" class="logoImage">
        </a>
    </div>
    
  
    <form id="search-form">
        <div class="searchbox-container">
            <input type="text" name="" id="searchbox" placeholder="Search" (input)="searchQuery = $event.target.value">
            <button type="button" id="search-submit" (click)="searchVideo()"><i class="fa fa-search"></i></button>
        </div>
    </form>
  
    <div class="usercontrol-container">

      <div *ngIf="isUserSignedIn()" class="upload-video">
        <a routerLink="upload" >
          <i class="fa fa-video-camera" aria-hidden="true"></i>
        </a>
      </div>

      <div *ngIf="isUserSignedIn()" class="notifications-dropdown">
        <a (click)="notifClick()">
          <i class="fa fa-bell" aria-hidden="true"></i>
        </a>

        <div class="dropdown-content" id="notif-dropdown">
          <a>Notif 1</a>
          <a>Notif 2</a>
          <a>Notif 3</a>
        </div>
      </div>
  
      <div *ngIf="!isUserSignedIn()" class="settings-dropdown" (click)="settingsClick()">
        <a>
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
  
        <div class="dropdown-content" id="settings-dropdown">
            <a (click)="toggleRestrictedMode()"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>Restricted Mode : {{restrictModeOutput}}</a>
            <a (click)="openLocationModal()"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>Change Location</a>
            <a (click)="showKeyboardShortcut()"><i class="fa fa-keyboard-o fa-fw" aria-hidden="true"></i>Keyboard Shortcut</a>
        </div>
      </div>
     
      <div *ngIf="!isUserSignedIn()" class="signin-button-container" (click)="signInWithGoogle()">
  
        <a>
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <div>
            SIGN IN
          </div>
        </a>
      </div>

      <div *ngIf="isUserSignedIn()" class="user-profile" >
        <img src="{{ user.photoUrl }}" width="40px" class="user-profile-picture" (click)="userProfileClick()">

        <div class="dropdown-content" id="user-dropdown">
          <div class="user-information">
            <img src="{{ user.photoUrl }}" width="50px">
            <h4>{{ user.name }}</h4>
          </div>
          
          <a (click)="switchAccount()"><i class="fa fa-users fa-fw" aria-hidden="true"></i>Switch Account</a>
          <a routerLink="premium-membership"><i class="fa fa-tag fa-fw" aria-hidden="true"></i>Premium Membership</a>
          <a *ngIf="userChannel" href="channel/{{userChannel.id}}"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Your Channel</a>
          <a (click)="toggleRestrictedMode()"><i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>Restricted Mode : {{restrictModeOutput}}</a>
          <a (click)="openLocationModal()"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>Change Location</a>
          <a (click)="showKeyboardShortcut()"><i class="fa fa-keyboard-o fa-fw" aria-hidden="true"></i>Keyboard Shortcut</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="sidebar-container" id="sidebar-container">
    <ul class="buttons">
      <li>
        <a routerLink="home" class="active" id="homeButton" (click)="changeActive($event)">
          <span class="icon"><i class="fa fa-home fa-fw" aria-hidden="true"></i></span>
          <span class="title">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="trending" class="" id="trendingButton" (click)="changeActive($event)">
          <span class="icon"><i class="fa fa-fire fa-fw" aria-hidden="true"></i></span>
          <span class="title">Trending</span>
        </a>
      </li>
      <li>
        <a routerLink="subscription" class="" id="subscriptionButton" (click)="changeActive($event)">
          <span class="icon"><i class="fa fa-youtube-play fa-fw" aria-hidden="true"></i></span>
          <span class="title">Subscriptions</span>
        </a>
      </li>
      <li>
        <a routerLink="category" class="" id="categoryButton" (click)="changeActive($event)">
          <span class="icon"><i class="fa fa-folder fa-fw" aria-hidden="true"></i></span>
          <span class="title">Category</span>
        </a>
      </li>
      <li>
        <a routerLink="premium-membership" class="" id="membershipButton" (click)="changeActive($event)">
          <span class="icon"><i class="fa fa-tag fa-fw" aria-hidden="true"></i></span>
          <span class="title">Membership</span>
        </a>
      </li>
      <li *ngFor="let p of userPlaylist">
        <a routerLink="playlist/{{p.id}}" *ngIf="isUserSignedIn() && playlistLoaded" class="" id="playlistButton-{{p.id}}" (click)="changeActive($event)">
          <span class="icon"><i class="fa fa-list-ul" aria-hidden="true"></i></span>
          <span class="title">{{p.title}}</span>
        </a>
      </li>
    </ul>

    <hr>

    <div class="externalLinks">
      <ul class="links">
        <li><a routerLink="about-us">About us</a></li>
        <li><a routerLink="terms">Terms</a></li>
        <li><a routerLink="copyright">Copyright</a></li>
        <li><a routerLink="privacy">Privacy</a></li>
      </ul>
    </div>

  </div>

  <div class="content-container" id="content-container">
    <router-outlet></router-outlet>
  </div>
</div>

<div id="keyboard-shortcut" class="keyboard-shortcut">
  <div class="modal-content">
    <span class="close" (click)="hideKeyboardShortcut()">&times;</span>
    <div class="title">
      Keyboard Shortcut
    </div>

    <div class="content">
      <ul>
        <li>
          <div class="explanation">
            Backwards 10 seconds
          </div>
          <div class="shortcut">
            j
          </div>
        </li>
        <li>
          <div class="explanation">
            Play or pause the video
          </div>
          <div class="shortcut">
            k
          </div>
        </li>
        <li>
          <div class="explanation">
            Forwards 10 seconds
          </div>
          <div class="shortcut">
            l
          </div>
        </li>
        <li>
          <div class="explanation">
            Fullscreen mode
          </div>
          <div class="shortcut">
            f
          </div>
        </li>
        <li>
          <div class="explanation">
            Increase the video volume
          </div>
          <div class="shortcut">
            ↑
          </div>
        </li>
        <li>
          <div class="explanation">
            Decrease the video volume
          </div>
          <div class="shortcut">
            ↓
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="select-country" id="select-country">
  <div class="modal-content">
    <div class="top">
      <div class="left">
        Choose your location
      </div>

      <div class="right" (click)="hideLocationModal()">
        &times;
      </div>
    </div>

    <div class="center">
      <select name="" id="" (change)="changeCurrentLocation($event.target.value)">
        <option *ngFor="let c of country_list" value="{{c}}" [selected]="checkCurrentLocation(c)" >{{c}}</option>
      </select>
    </div>

    <div class="bottom">

    </div>
  </div>
</div>