<div class="container">
    <div class="logo">
        <img src="../../assets/logo.jpg" alt="" width="250px">
        <div class="logo-text">
            Premium
        </div>
    </div>

    <div class="benefits-text">
        <p>View Premium Videos</p>
        <br>
        <p>View Not Yet Published or Schedule Videos</p>
    </div>

    <div class="billing-plans" *ngIf="hideDetails()">
        <p>Billing Plans</p>

        <input type="radio" name="billing-plan" id="monthly" value="Monthly" (change)="changePlan($event)">
        <label for="monthly">Monthly</label>
        <br>
        <input type="radio" name="billing-plan" id="annualy" value="Annualy" (change)="changePlan($event)">
        <label for="annualy">Annualy</label>
        <br>
        <button class="register-button" (click)="registerPlan()">Register Plan</button>
        
    </div>

    <div class="billing-history" *ngIf="showDetail()">
        <div class="title">
            Your billing history
        </div>

        <div class="billing-list">
            <ul>
                <li *ngFor="let b of billingHistory">
                    {{b.start_day}} - {{b.start_month}} - {{b.start_year}} [{{b.plan}}]
                </li>
            </ul>
        </div>

        <div class="next">
            Current membership expiration date : {{currentPlan.end_day}} - {{currentPlan.end_month}} - {{currentPlan.end_year}}
        </div>
    </div>

    <div id="error">
        Please choose a plan!
    </div>
</div>