<div class="container">
    <div class="logo">
        <img src="../../assets/logo.jpg" alt="" width="250px">
        <div class="logo-text">
            Premium
        </div>
    </div>

    <div class="benefits-text">
        <p>View Premium Videos</p>
        <br>
        <p>View Not Yet Published or Schedule Videos</p>
    </div>

    <div class="billing-plans">
        <p>Billing Plans</p>

        <form action="">
            <input type="radio" name="billing-plan" id="monthly">
            <label for="monthly">Monthly</label>
            <br>
            <input type="radio" name="billing-plan" id="annualy">
            <label for="annualy">Annualy</label>
            <br>
            <button type="submit" class="register-button">Register Plan</button>
        </form>
        
    </div>


</div>