<div class="container">
    <div class="logo">
        <img src="../../assets/logo.jpg" alt="" width="250px">
        <div class="logo-text">
            Premium
        </div>
    </div>

    <div class="benefits-text">
        <p>View Premium Videos</p>
        <br>
        <p>View Not Yet Published or Schedule Videos</p>
    </div>

    <div class="billing-plans">
        <p>Billing Plans</p>

        <input type="radio" name="billing-plan" id="monthly" value="Monthly" (change)="changePlan($event)">
        <label for="monthly">Monthly</label>
        <br>
        <input type="radio" name="billing-plan" id="annualy" value="Annualy" (change)="changePlan($event)">
        <label for="annualy">Annualy</label>
        <br>
        <button class="register-button" (click)="registerPlan()">Register Plan</button>
        
    </div>

    <div id="error">
        Please choose a plan!
    </div>
</div>