<div class="container">
    <div class="left">
        <div class="top">
            <div class="title">
                Description
            </div>

            <div class="content">
                {{channel.description}}
            </div>
        </div>

        <div class="bottom">
            <div class="title">
                Links
            </div>

            <div class="content">

            </div>
        </div>
    </div>

    <div class="right">
        <div class="title">
            Stats
        </div>

        <div class="content">
            <div class="join-date">
                Joined {{dateOutput}}
            </div>

            <div class="views-count">
                {{viewCountOutput}}
            </div>
        </div>
    </div>
</div>