.container{

    .recommended-title{
        margin-top: 3vh;
        font-size: 20px;
    }

    .recommended-video-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    .footer{
        height: 50px;
    }
}