<div class="container" *ngIf="doneLoading">
    <div class="left">
        <div class="top" *ngIf="playlistVideos.length > 0">
            <img src="{{playlistVideos[0].thumbnail}}" alt="" width="350px" height="200px">
            <div class="overlay unselectable">
                <i class="fa fa-play" aria-hidden="true"></i>
                PLAY ALL
            </div>
        </div>
        <div class="top" *ngIf="playlistVideos.length == 0">
            <img src="../../assets/default_thumbnail.png" alt="" width="350px" height="200px">
            <div class="overlay unselectable">
                <i class="fa fa-play" aria-hidden="true"></i>
                PLAY ALL
            </div>
        </div>
        <div class="center">
            <div class="title">

                <div class="display" [style.display] = "isInputTitle ? 'none' : 'flex'">
                    {{playlist.title}}
                    <i class="fa fa-pencil" aria-hidden="true" (click)="toggleInputTitle()"></i>
                </div>

                <div class="input" [style.display] = "isInputTitle ? 'flex' : 'none'">
                    <div class="top">
                        <input type="text" name="" id="" [value]="playlist.title" (input)="inputTitle = $event.target.value">
                    </div>
                    <div class="bottom">
                        <div class="b1" (click)="toggleInputTitle()">
                            CANCEL
                        </div>

                        <div class="b2" (click)="updatePlaylistTitle()">
                            SAVE
                        </div>
                    </div>
                </div>

            </div>

            <div class="info">
                {{playlistCountOutput}} • {{viewCountOutput}} • {{lastUpdatedOutput}}
            </div>

            <div class="privacy">
                <select name="" id="" (change)="updatePlaylistPrivacy($event.target.value)" [value]="playlist.privacy">
                    <option value="Public">Public</option>
                    <option value="Private">Private</option>
                </select>
            </div>

            <div class="button">
                <div class="shuffle">
                    <i class="fa fa-random" aria-hidden="true"></i>
                </div>

                <div class="share" *ngIf="playlist.privacy == 'Public'">
                    <i class="fa fa-share" aria-hidden="true" (click)="showShareModal()"></i>
                </div>

                <div class="remove-all">
                    <i class="fa fa-trash" aria-hidden="true" (click)="updatePlaylist(',')"></i>
                </div>
            </div>

            <div class="description">
                <div class="display" [style.display] = "isInputDesc ? 'none' : 'flex'">
                    {{playlist.description}}
                    <i class="fa fa-pencil" aria-hidden="true" (click)="toggleInputDesc()"></i>
                </div>

                <div class="input" [style.display] = "isInputDesc ? 'flex' : 'none'">
                    <div class="top">
                        <input type="text" name="" id="" [value]="playlist.description" (input)="inputDesc = $event.target.value">
                    </div>
                    <div class="bottom">
                        <div class="b1" (click)="toggleInputDesc()">
                            CANCEL
                        </div>

                        <div class="b2" (click)="updatePlaylistDescription()">
                            SAVE
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom" *ngIf="channel">
            <div class="channel-info">
                <a href="/channel/{{channel.id}}">
                    <img src="{{channel.icon}}" alt="" width="60px">
                </a>
    
                <a href="/channel/{{channel.id}}">
                    {{channel.name}}
                </a>  
            </div>         

            <div class="subs-button" *ngIf="showSubscribeButton()">
                <a>
                    <div class="subscribe-button" (click)="subscribeToChannel()" *ngIf="userSubCondition == 0">
                        SUBSCRIBE
                    </div>
                </a>
    
                <a>
                    <div class="subscribe-button2" (click)="unsubscribeToChannel()" *ngIf="userSubCondition != 0">
                        SUBSCRIBE
                    </div>
                </a>
    
                <div class="bell-button" *ngIf="userSubCondition == 2" (click)="changeUserSubsNotif('false')">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                </div>
    
                <div class="bell-button" *ngIf="userSubCondition == 1" (click)="changeUserSubsNotif('true')">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="top">
            <p (click)="toggleSortBy()" class="unselectable">
                <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                SORT BY
            </p>

            <div class="dropdown-content" id="dropdown-content">
                <ul>
                    <li class="unselectable">Date added (oldest)</li>
                    <li class="unselectable">Date added (newest)</li>
                    <li class="unselectable" (click)="sortVideoByOldest()">Date published (oldest)</li>
                    <li class="unselectable" (click)="sortVideoByLatest()">Date published (newest)</li>
                    <li class="unselectable" (click)="sortPopularity()">Popularity</li>
                </ul>
            </div>
        </div>

        <div cdkDropList class="center-video" *ngIf="playlistVideos"  (cdkDropListDropped)="drop($event)">
            <div *ngFor="let v of playlistVideos, let i = index" cdkDrag class="videos">
                <i class="fa fa-bars" aria-hidden="true " cdkDragHandle></i>

                <app-playlist-display [vid]="v"></app-playlist-display>
            </div>
        </div>

        <!-- <div class="footer" *ngIf="allLoaded">

        </div> -->
    </div>
</div>

<div class="share-modal" id="share-modal">
    <div class="modal-content">
        <div class="top">
            <div class="left">
                Share
            </div>

            <div class="right" (click)="hideShareModal()">
                &times;
            </div>

        </div>

        <div class="center">
            <input type="text" name="" id="url" [value]="playlistURL" readonly>
            <div class="copy-button" (click)="copyURLToClipboard()">
                COPY
            </div>
        </div>

    </div>
</div>