<div class="container" *ngIf="doneLoading && premiumValidation">
    <a href="watch/{{video.id}}">
        <div class="thumbnail">
            <img src="{{video.thumbnail}}" alt="" width="288px" height="162px">
            <span class="video-duration">{{duration}}</span>
        </div>
    </a>
    <div class="video-description-container">
        <a href="channel/{{channel[0].id}}">
            <img src="{{channel[0].icon}}" alt="" width="50px" class="profile-pic">
        </a>
        <a href="watch/{{video.id}}">
            <div class="content-container">
                <div class="title">
                    {{titleOutput}}
                </div>
                <div class="channel-name">
                    <a href="channel/{{channel[0].id}}">
                        {{channel[0].name}}
                    </a>
                </div>
                <div class="views-count">
                    {{viewOutput}}
                </div>
                •
                <div class="date-uploaded">
                   {{dateOutput}}
                </div>
                <div class="premium-tag" *ngIf="video.is_premium == 'true' && userHavePremium">
                    <p>
                        PREMIUM
                    </p>
                </div>
            </div>
        </a>
        <div class="settings-button">
            <a (click)="settingsClick()" class="settings-button-icon">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="dropdown-content" [style.display]="settingsOpen ? 'block' : 'none'">
                <a>
                    <i class="fa fa-list-ol" aria-hidden="true"></i>
                    Add to queue
                </a>
                <a *ngIf="isUserSignedIn()" (click)="showPlaylistModal()">
                    <i class="fa fa-random" aria-hidden="true"></i>
                    Add to playlist
                </a>
            </div>
        </div>
    </div>
</div>

<div class="playlist-modal" id="playlist-modal" *ngIf="showModal">
    <div class="modal-content">

        <div class="top">
            <div class="left">
                Save to..
            </div>

            <div class="right" (click)="hidePlaylistModal()">
                &times;
            </div>
        </div>

        <div class="center">
            <ul>
                <li *ngFor="let p of userPlaylist">
                    <input type="checkbox" name="" id="user-playlist-{{p.id}}" (change)="addToPlaylist($event, p)" [checked]="checkChecked(p)">
                    <label for="user-playlist-{{p.id}}" class="unselectable">{{p.title}}</label>
                </li>
            </ul>
        </div>

        <div class="bottom">
            <div class="create-new-playlist-button" id="create-new-playlist-button-{{video.id}}" (click)="toggleCreatePlaylist()">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Create new playlist
            </div>

            <div class="title" id="ntitle-{{video.id}}">
                <label for="nplaylist-title-{{video.id}}">Name</label>
                <input type="text" name="" id="nplaylist-title-{{video.id}}" placeholder="Enter a playlist name..." (change)="playlist_title = $event.target.value">
            </div>

            <div class="privacy" id="nprivacy-{{video.id}}">
                <label for="nplaylist-privacy-{{video.id}}">Privacy</label>
                <select name="" id="nplaylist-privacy-{{video.id}}" (change)="changePrivacyValue($event)">
                    <option value="None">Select one</option>
                    <option value="Public">Public</option>
                    <option value="Private">Private</option>
                </select>
            </div>

            <div class="create-button" id="nbutton-{{video.id}}" (click)="createNewPlaylist()">
                CREATE
            </div>
        </div>
    </div>
</div>
