<div class="container" *ngIf="doneLoading">
    <a href="watch">
        <div class="thumbnail">
            <img src="{{video.thumbnail}}" alt="" width="288px" height="162px">
        </div>
    </a>
    <div class="video-description-container">
        <img src="{{channel[0].icon}}" alt="" width="50px" class="profile-pic">
        <a href="watch">
            <div class="content-container">
                <div class="title">
                    {{video.title}}
                </div>
                <div class="channel-name">
                    {{channel[0].name}}
                </div>
                <div class="views-count">
                    {{video.view}} views
                </div>
                    |  
                <div class="date-uploaded">
                   {{dateOutput}}
                </div>
            </div>
        </a>
        <div class="settings-button">
            <a (click)="settingsClick()" class="settings-button-icon">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="dropdown-content" id="video-settings-dropdown-{{video.id}}">
                <a><i class="fa fa-list-ol" aria-hidden="true"></i>
                    Add to queue</a>
                <a *ngIf="isUserSignedIn()"><i class="fa fa-random" aria-hidden="true"></i>
                    Add to playlist</a>
            </div>
        </div>
    </div>
</div>
