.container{

    .section1{
        padding-left: 2vw;

        .title{
            font-size: 20px;
            font-weight: 500;
            padding-top: 4vh;
            padding-left: 3vw;
        }

        .videos{
            display: flex;
            flex-direction: row;
        }
    }

    .section2{
        padding-left: 2vw;


        .title{
            font-size: 20px;
            font-weight: 500;
            padding-top: 4vh;
            padding-left: 3vw;
        }

        .videos{
            display: flex;
            flex-direction: row;
            overflow-x: auto;
        }
    }

    .section3{
        padding-left: 2vw;


        .title{
            font-size: 20px;
            font-weight: 500;
            padding-top: 4vh;
            padding-left: 3vw;
        }

        .playlists{
            display: flex;
            flex-direction: row;
        }
    }
}