.container{

    .section1{
        padding-left: 2vw;

        .title{

            padding-top: 4vh;
            padding-left: 3vw;
            display: flex;
            align-items: center;

            .t{
                font-size: 20px;
                font-weight: 500;
            }

            .see-all{
                font-size: 16px;
                color: gray;
                margin-left: 2vw;
                text-decoration: none;
            }

        }

        .videos{
            display: flex;
            flex-direction: row;
        }
    }

    .section2{
        padding-left: 2vw;

        .title{
            padding-top: 4vh;
            padding-left: 3vw;
            display: flex;
            align-items: center;
            
            .t{
                font-size: 20px;
                font-weight: 500;
            }

            .see-all{
                font-size: 16px;
                color: gray;
                margin-left: 2vw;
                text-decoration: none;
            }
        }

        .videos{
            display: flex;
            flex-direction: row;
            overflow-x: auto;
        }
    }

    .section3{
        padding-left: 2vw;

        .title{
            padding-top: 4vh;
            padding-left: 3vw;
            display: flex;
            align-items: center;
            
            .t{
                font-size: 20px;
                font-weight: 500;
            }

            .see-all{
                font-size: 16px;
                color: gray;
                margin-left: 2vw;
                text-decoration: none;
            }
        }

        .playlists{
            display: flex;
            flex-direction: row;
        }
    }
}