<div *ngIf="!isUserSignedIn()" class="user-not-signedin-container">
    <div class="logo">
        <i class="fa fa-list" aria-hidden="true"></i>
    </div>
    
    <div class="text1">
        Don't miss new videos 
    </div>

    <div class="text2">
        Sign in to see updates from your favorite yoRJube channels
    </div>

</div>

<div *ngIf="isUserSignedIn()" class="user-signedin-container">
    <div class="video-list-container">
        <div class="video-container">
            <div class="title">
                Today
            </div>

            <div class="video-list">
                <app-video-display *ngFor="let v of videos" [vid]="v"></app-video-display>
            </div>
        </div>

        <div class="video-container">
            <div class="title">
                This Week
            </div>
            <div class="video-list">
                <app-video-display *ngFor="let v of videos" [vid]="v"></app-video-display>
            </div>
        </div>

        <div class="video-container">
            <div class="title">
                This Month
            </div>
            <div class="video-list">
                <app-video-display *ngFor="let v of videos" [vid]="v"></app-video-display>
            </div>
        </div>
    </div>
</div>